.wrapper {
  width: 448px;
  padding: 16px;
  padding-top: 24px;
}

.header {
  font-size: 24px;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  margin-top: 16px;
}